.Menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menuButton {
  cursor: pointer;
  transition: box-shadow 0.2s, border-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuButton:hover {
  border-color: var(--dark-purple);
}

#cpuBtn {
  background-color: var(--pink);
  color: #fff;
}

#playerBtn {
  background-color: var(--yellow);
}

#rulesBtn {
  background-color: #fff;
}

@media only screen and (max-width: 412px) {
  
}

@media only screen and (min-width: 413px) and (max-width: 768px) {
  .Menu {
    height: 537px;
    width: 480px;
    border-radius: 40px;
    border: 3px solid black;
    box-shadow: 0 10px 0 0 black;
    background-color: var(--purple);
  }

  .menuLogo {
    width: 52px;
    margin-top: 70px;
    margin-bottom: auto;
  }

  .menuButton {
    font-size: 24px;
    font-weight: bold;
    line-height: 31px;
    text-align: left;
    padding-left: 20px;
    padding-right: 17px;
    height: 72px;
    width: 400px;
    border-radius: 20px;
    border: 3px solid black;
    box-shadow: 0 10px 0 0 black;
    margin: 15px 0;
  }

  .menuButton:hover {
    box-shadow: 0 10px 0 0 var(--dark-purple);
  }

  #rulesBtn {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 769px) {
  .Menu {
    height: 537px;
    width: 480px;
    border-radius: 40px;
    border: 3px solid black;
    box-shadow: 0 10px 0 0 black;
    background-color: var(--purple);
  }

  .menuLogo {
    width: 52px;
    margin-top: 70px;
    margin-bottom: auto;
  }

  .menuButton {
    font-size: 24px;
    font-weight: bold;
    line-height: 31px;
    text-align: left;
    padding-left: 20px;
    padding-right: 17px;
    height: 72px;
    width: 400px;
    border-radius: 20px;
    border: 3px solid black;
    box-shadow: 0 10px 0 0 black;
    margin: 15px 0;
  }

  .menuButton:hover {
    box-shadow: 0 10px 0 0 var(--dark-purple);
  }

  #rulesBtn {
    margin-bottom: 60px;
  }
}